# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next
/.next/
out/

# misc
.DS_Store
*.pem
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# types
next-env.d.ts
